.bake_cache
.cache/
bin/
compile_commands.json
test/include/siecs-test/
addons/siecs_cpp/test/include/siecs_cpp-test/
gcov
.DS_Store
.vscode
.clang-format
.clang-tidy
.clangd
compile_flags.txt
siecs_rust/target/
target/
vendor/
deps/
